body {
    background-color: lightblue;
    color: maroon;
    font-family: Arial;
    margin: 0px;
}
main {
    background-color: lightblue;
    color: rgb(255, 60, 0);
    font-family: Arial;
    margin: 0px;
}
header {
    background-color: blueviolet;
    color: black;
    font-family: Arial;
    margin: 0px;
    padding: 15px;
}
footer {
    background-color: blueviolet;
    color: black;
    font-family: Arial;
    margin: 0px;
    padding: 15px;
    text-align: right;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    
}
a {
    text-decoration: none;
    transition: 1s 2s;
}
a:link {
    opacity: 0.5;
    background-color: #1d95b988;
}
a:visited {
    opacity: 0.5;
    color: hsla(270, 100%, 0%, 0.714);
}
a:hover {
    color: red;
    text-decoration: underline;
    background-color: hwb(0 65% 7% / 0.329);
    text-shadow: 10px 10px 10px black;
    transition: 0.3s;
}
a:active {
    color: black;
    opacity: 0.3;
}
div.menu {
    border: 7px solid;
    border-radius: 30px;
    width: 250px;
    margin: auto;
    background-color: #bee6ab;
    box-shadow: 12px 12px 30px hsla(0, 0%, 0%, 0.747);
}
div.menu:hover {
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 15px #000000;
}
h1.lab {
    text-align: center;
    text-shadow: 5px 5px 10px #000000b0;

}
h1.lab:hover {
    color: hwb(241 6% 41%);
}
main {
    margin: 0px 0px 45px
}